/*
#key:before {
    content: "";
    display: block;
    padding-top: 100%;
    float: left;
}*/


#key{
    border:rgb(0, 0, 0) 3px solid;
    background-color: cadetblue;
    text-align: center;
    flex: 1;
    font-size: 3rem;
    margin: .3rem;
    /* padding-top: 2%; */
    box-shadow: .4rem .4rem rgba(51, 46, 87, 0.788);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

#key:hover{
    background-color: rgb(255, 253, 130);
}

.operator{
    background-color: rgb(157, 187, 150)!important; 
}

.operator:hover{
    background-color: rgb(255, 253, 130)!important;
}

#keyRow{
    display: flex;
    flex: 1;
}

#calcKeys{
    width: 70vw;
    height: 60vh;
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

#display{
    border:black 4px solid;
    background-color: rgba(245, 230, 207, 0.74);
    width: 70vw;
    height: 20vh;
    font-size: 8rem;
    text-align: right;
    justify-content: right;
    align-items: center;
    margin-bottom: 1rem;
    box-shadow: .5rem .5rem rgba(51, 46, 87, 0.788);
    border-radius: 1rem;
    display: flex;
}

#calculatorHolder{
    align-self: center;
    justify-content: center;
    width: 80vw;
    height: 90vh;
    border: black 4px solid;
    background-color: rgba(53, 53, 53, 0.479);
    border-radius: 1rem;
    box-shadow: .5rem .5rem rgba(51, 46, 87, 0.788);
    border-radius: 1rem;
    display: flex;
}

#calculator{
    align-self: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-overflow: clip;
    margin: 3rem;
    
}

h1{
    padding-left: 5%;
    padding-top: 2%;
}

body{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;  
}